/* User Description */

.description {
  color: #575757;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
}

/* Conversation  Messaging*/

.conversation {
  color: #7f7f7f;
  padding: 10px;
}

.conversation:hover, .conversation:focus {
  background-color: #F5F4F5;
}


.messaging {
	padding-top: 125px;

}

.conversation-show {
	padding-top: 125px;
}