
.panel-default .panel-heading {
  color: #565a5c;
  background-color: #edefed;
  font-size: 18px;
  font-weight: 400
}

/* It is for Profile updater heading */
.updater-heading {
  text-align: center;
}

/* General forms Sign in, Sign up. Its typography will be found in custom/typography */
.form-group {
  margin-bottom: 25px;
}

.form-control {
  border-radius: 2px;
  height: 3em;
  border-color: #bdc3c7;
}

.form-control:focus {
  outline: none !important;
  border:2px solid #ff5a5f;
  box-shadow: none;
}

.form-group-signin {
	margin-bottom: 15px;
	color: #82888a;
}

.form-group-signin .form-control:focus {
  outline: none !important;
  border:1.5px solid #c4c4c4;
  box-shadow: none;
}

.form-group-signup {
	margin-bottom: 15px;
	color: #82888a;
}

.form-group-signup .form-control:focus {
  outline: none !important;
  border:1.5px solid #c4c4c4;
  box-shadow: none;
}



/* Room-Create styles */

label {
  color: #565a5c;
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 10px;
  display: block;
}

select {
  color: #565a5c;
  background-color: #fff;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 10px;
  appearance: none;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
}

select:focus {
  outline: none !important;
  border:2px solid #ff5a5f;
}

.select:before {
  content: '\25bc';
  font-size: 1.2em;
  position: absolute;
  color: #82888A;
  top: 40px;
  right: 30px;
  transform: scale(0.84, 0.42);
}

input[type="checkbox"] {
  height: 1.25em;
  width: 1.25em;
  margin-bottom: -0.25em;
  margin-right: 5px;
  
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  appearance: none;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
}

input[type="checkbox"]:focus {
  outline: none !important;
  
}

input[type="checkbox"]:checked:before {
  content: "\2713";
  position: absolute;
  font-size: 0.95em;
  text-align: center;
  width: 1.25em;
  color: #ff5a5f;
}

.form-group-signin .input[type="checkbox"] {

  height: 1.25em;
  width: 1.25em;
  margin-bottom: -0.25em;
  margin-right: 5px;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  appearance: none;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */

}


/* Below for uploaded images in edit-room page */
.panel-heading.preview {
  padding: 0;
}

.panel-heading.preview img{  
  width: 100%;
}



