.banner {
	background-image: url('swiss.jpeg');
	text-align: center;
	background-size: cover;
	background-attachment: scroll;
	background-repeat: no-repeat;
	position: absolute;
	background-position: left;
   	height: 650px;
    left: 0;
    right: 0;
    padding-top: 0px;
    opacity: 0.9;

}

 .banner h1 {
	font-size: 50px;
	line-height: 66px;
	color: white;
	margin-top: 100px;
	font-family: 'Montserrat', sans-serif;
	opacity: 1;
}

.banner p {
	font-size: 18px;
	line-height: 20px;
	color: white;
	margin-bottom: 30px;
	font-family: 'Montserrat', sans-serif;
}

.wrapper {
	padding-bottom: 700px;
}


/*.search_desk {
	border: none;
	background-color: rgba(0,0,0,0.5);
   
} */


.home_search {
	opacity: 0.9;
}

.in_out_search, .place_search {
	margin-bottom: 10px;
}

