
body {  
  color: #565a5c;
  background-color: #F8F8F8;
  font-weight: normal;
  
}

/* I created it for making space between navbar and content, you will be able to find the class in each view in panel-body */
.space-maker {
  padding-top: 100px;
}


/* Created for How it works page to make space between navbar and content */

.space-maker-hiw {
  margin-top: 100px;
}

.navbar-default {
  background-color: #FFFFFF;
  
}

.navbar-default .navbar-brand {
  color: #e00007;
  font-size: 2em;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  
}

.navbar-default .navbar-brand:hover {
	color: #ff7e82;
}

.navbar .nav > li > a {
  color: #525252;
	font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.navbar .nav > li > a:hover, .navbar .nav > li > a:focus  {
  color: #171818;
}


.sidebar-list {
  padding-left: 0;
  list-style: none;
}

.sidebar-item {
  padding: 10px 0;
  font-size: 16px;
  color: #82888a;
  border-bottom: 1px solid #CCC;
}

.sidebar-link {
  color: #82888a;
  text-decoration: none;
}

.sidebar-link:hover, .sidebar-link:focus {
  color: #cacccd;
  text-decoration: none;
}

.active.sidebar-link {
  color: #565a5c;
  font-weight: bold;
  text-decoration: none;
}

/* Toogle Menu */

.navbar-default .navbar-toggle {
  background-color: white;
  border: white;
  background: white;
  margin-top: 12px;

  }

.navbar-default .navbar-toggle:hover {
  background-color: white;
  border: white;
  }

.navbar-default .navbar-toggle:active {
  background-color: white;
  border: white;
  }

.navbar-default .navbar-toggle:focus {
  background-color: white;
  border: white;
  }

  .navbar-default .navbar-toggle .icon-bar {
    background-color: #e00007;
    padding-right: 30px;
    border: 2px #e00007;
    padding: 1px 16px 2px;
  }

  .navbar-default .navbar-toggle .icon-bar:hover {
    background-color: #e00007;
  }