
body {  
  color: #565a5c;
  background-color: #F8F8F8;
  font-weight: normal;
  
}

/* I created it for making space between navbar and content, you will be able to find the class in each view in panel-body */
.space-maker {
  padding-top: 100px;
}

/* Created for How it works page to make space between navbar and content */

.space-maker-hiw {
  margin-top: 100px;
}

.navbar-default {
  background-color: #FFFFFF;
  
}


.navbar-default .navbar-brand {
  color: #e00007;
  font-size: 2em;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.navbar-default .navbar-brand:hover {
	color: #ff7e82;
}

.navbar .nav > li > a {
	color: #e00007;
	font-family: 'Montserrat', sans-serif;
}

.navbar .nav > li > a:hover, .navbar .nav > li > a:focus  {
	color: #ff7e82;
}


.sidebar-list {
  padding-left: 0;
  list-style: none;
}

.sidebar-item {
  padding: 10px 0;
  font-size: 16px;
  color: #82888a;
  border-bottom: 1px solid #CCC;
}

.sidebar-link {
  color: #82888a;
  text-decoration: none;
}

.sidebar-link:hover, .sidebar-link:focus {
  color: #cacccd;
  text-decoration: none;
}

.active.sidebar-link {
  color: #565a5c;
  font-weight: bold;
  text-decoration: none;
}


