<footer class="footer">
  <p="pull-left">Safarali Ramazonov/ Twitter @safarnov</p>
  <p="pull-left">This web app is for demo purposes only & data optained from @Airbnb's website without its permission</p>
</footer>