<div class="panel-body space-maker-hiw">
	<div class="row text-center">
		<div class="col-md-4 hiw">
			<%= image_tag ('air1.png') %><br>
            <h4>Discover Amazing Places</h4>

            <p>Find hosts with extra rooms, entire homes, and unique accommodations like castles and igloos.</p>
		</div>

		<div class="col-md-4 hiw">
			<%= image_tag ('air2.png') %><br>
			<h4>Book a Stay</h4>
			<p>Connect with hosts, confirm travel dates, and pay—all through Airbnb’s trusted services</p>
		</div>

		<div class="col-md-4 hiw">
			<%= image_tag ('air3.png') %><br>
			<h4>Travel</h4>
			<p>Once you know where you’re traveling and whose space you'll be staying in, all you have to do is get going!</p>
		</div>
	</div>
</div> 

<hr>

<style>
  body {background-color: #79CCCD;}
  #canvas {background-color: #79CCCD;}
</style>